---
import { Image } from "astro:assets";
import fotoKmi from "../assets/bio/fotoKmi.png";
---

<section class="flex bg-black-500 ">
  <p class=" text-4xl">
         Mi nombre es Camila Akel, tengo 25 años
y soy oriunda de Buenos Aires.
Me defino como una persona apasionada por la creatividad y amante de la música. 
Mi trayectoria profesional abarca desde la producción de eventos hasta el diseño 
gráfico y la creacióan de contenido/imagen para artistas musicales. 
Mi enfoque colaborativo y mi amor por la música se combinan para crear 
experiencias únicas y memorables. Como socia de un estudio creativo 
y tour manager de artistas, me enorgullece fusionar mi pasión por el 
arte con una mentalidad organizada y orientada a los detalles.
Mi recorrido con las artes visuales empezó de muy pequeña con pintura y 
dibujo, cerámica y talleres experimentales de fotografía o cine. Luego, 
encontré un lugar en el arte digital y es hasta el día de hoy que sigo 
experimentando y trabajando con herramientas como Photoshop, Illustrator, 
Premiere Pro, After Effects, Blender y con un manejo básico de Resolume. 
A los 19 años comencé a estudiar Gestión en Arte y Cultura en la UNTREF, 
carrera que me dio las bases para, hoy, producir eventos de pequeña, mediana 
y gran escala. Logré trabajar en proyectos como Numbers, LollaPalooza,
 Noches Capitales, Rave3000, Primavera Sound, entre otros.
Hace casi un año comencé la Diplomatura de Producción Técnica para shows 
y eventos en vivo en la UNTREF, desde ese momento hasta ahora logré 
fusionar mis saberes como productora general de eventos con conocimientos 
técnicos que me han ayudado a mejorar mi capacidad laboral.
  </p>

  <img class="pr-[3vw] w-full h-full" src="/src/assets/bio/fotoKmi.png"/>
</section>
