---
//crear una nav bar

const navLinks = [
  { name: "Inicio", href: "/" },
  { name: "Sobre mí", href: "/about" },
  { name: "Proyectos", href: "/projects" },
  { name: "Contacto", href: "/contact" },
]; 
---

<nav class="p-3">

        <a class="no-underline" href="/bio">bio</a>
        <a class="no-underline" href="/trabajo">trabajo</a>

        <a class="no-underline" href="/proyectos">proyectos</a>

        <a class="no-underline" href="/contacto">contacto</a>

</nav>