---
import KonvaGallery from "../components/KonvaGallery.jsx";

// IMPORTS COMO URL (¡fijate los espacios en nombres!)
import valdra_la_penaUrl from "../assets/proyectos/proyectoimg.png?url";
import axel_fiksUrl from "../assets/proyectos/axel fiks.png?url";
import catrielUrl from "../assets/proyectos/catriel.png?url";
import franzizcaUrl from "../assets/proyectos/franzizca.png?url";
import no_te_vayasUrl from "../assets/proyectos/NOTEVAYAS.png?url";
import minervaUrl from "../assets/proyectos/minerva.png?url";
import scanUrl from "../assets/proyectos/scan1.png?url";
import scan2Url from "../assets/proyectos/scan2.png?url";
import scan3Url from "../assets/proyectos/scan3.png?url";
import que_me_hicisteUrl from "../assets/proyectos/quemehiciste.png?url";
import no_te_vayas2Url from "../assets/proyectos/NOTEVAYAS.png?url";
import pixel_azulUrl from "../assets/proyectos/20250603-1444-02.9791464 1.png?url";
import minerva2Url from "../assets/proyectos/minerva2.png?url";
import quetristeUrl from "../assets/proyectos/quetriste.png?url";
import clipsUrl from "../assets/proyectos/clips.png?url";

const proyectos = [
  { title: 'Minerva', url: minervaUrl, x: 0, y: 20, w: 2000, h: 140 },
  { title: 'Clips', url: clipsUrl },
  { title: 'Valdrá la pena', url: valdra_la_penaUrl },
  { title: 'Minerva 2', url: minerva2Url },
  { title: 'Qué triste', url: quetristeUrl },
  { title: 'Axel Fiks', url: axel_fiksUrl },
  { title: 'Catriel', url: catrielUrl },
  { title: 'Franzizca', url: franzizcaUrl },
  { title: 'No te vayas', url: no_te_vayasUrl },
  { title: 'Scan', url: scanUrl },
  { title: 'Scan 2', url: scan2Url },
  { title: 'Scan 3', url: scan3Url },
  { title: '¿Qué me hiciste?', url: que_me_hicisteUrl },
  { title: 'No te vayas 2', url: no_te_vayas2Url },
  { title: 'Pixel Azul', url: pixel_azulUrl },
];
---

<section class="relative">
  {/* Renderizamos la isla de React en el cliente */}
  <KonvaGallery items={proyectos} client:load />
</section>
